		<%= link_to "Descripción", "javascript:hacerPopBox('Descripción', '#{asignatura.descripcion}')" %>
		<%= link_to "Temario", "javascript:hacerPopBox('Temario', '#{asignatura.temario}')" %>
		<% if usuario_actual %>
			<div class="formulario_inscripcion">
				<% if !inscrito?(asignatura.id) %>
					<%= render "asignaturas/form_inscribir", asignatura: asignatura %>
				<% else %>
					<%= render "asignaturas/form_desinscribir", asignatura: asignatura %>
				<% end %>
			</div>
		<% else %>
		  <%= link_to "Inscripción", "javascript:hacerPopBox('Aviso', 'Matriculate')", class: "btn btn-primary inscripcion" %>
		<% end %>