<nav class="row">
  <div class="col-md-10 col-md-offset-1">
    <ul class="nav">
      <li><%= link_to "Colegio", colegio_path %></li>
      <% if ha_accedido? %>
      <li><%= link_to "Profesorado", claustro_path %></li>
      <li><%= link_to "Tu campus", lugares_path %></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tu perfil</a>
        <ul class="dropdown-menu">
          <li><%= link_to "Ver tu perfil", ver_perfil_url(usuario_actual.nombre) %></li>
          <li><%= link_to "Tu promoción", promocion_path %></li>
          <li><%= link_to "Configuracion", editar_perfil_url(usuario_actual.nombre) %></li>
          <li><%= link_to "Chat", "javascript:hacerPopBox('Aviso','Funcionalidad en desarrollo.')" %></li>
          <li><%= link_to "Salir", salir_path, method: :delete %></li>
        </ul>
      </li>
      <% else %>
      <li><%= link_to "Claustro", claustro_path %></li>
      <li><%= link_to "Instalaciones", lugares_path %></li>
      <li><%= link_to "Acceder", acceder_path %></li>
      <% end %>
      <li><%= link_to "Secretaria", secretaria_path %></li>
      <li><%= link_to "Galeria", galeria_path %></li>

      <li id="idiomas">
        <%= link_to image_tag("espana.png", alt: "Web en castellano"), "#" %>
        <%= link_to image_tag("inglaterra.jpg", alt: "english web"), "javascript:hacerPopBox('Aviso','Funcionalidad en desarrollo.')" %>
      </li>
    </ul>
  <span class="nav_circulo nav_AI"></span>
  <span class="nav_circulo nav_AD"></span>
  </div>
</nav>